.main {
    
}

.filter {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.filter__items {
    display: flex;
    justify-content: space-around;
}

.filter__item {
    width: 100%;
    padding-top: 1em;
    height: 4em; 
    cursor: pointer;
    position: relative;
}

.arrow-down {
    position: absolute;
    right: 1em;
    top: 1.5em;
    border: 3px solid transparent;
    border-top: 3px solid black;
}

.drop-menu {
    z-index: 2;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    background: white;
    width: 100%;
    margin-top: 2.2em;
}

.drop-menu__item {
    margin-top: 0.7em;
    padding-left: 1em;
    height: 2em;
    display: flex;
    align-items: center;
}

.drop-menu__item:hover {
    background: #f7f7f7;
    color: #f14a58;
}

.filter__item:hover .drop-menu {
    display: flex;
}

.items-catalog {
    z-index: 1;
    margin-top: 1em;
}

.caption_2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    letter-spacing: 0.03em;
}

.caption_3 {
    margin-bottom: 3.3em;
}

.common-button {
    margin: 3em auto 4em;
}

.banners {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
}

.banners__left {

}

.banners__right {
    display: flex;
}

.img_aside {
    height: 384px;
    overflow: hidden;
}


@media screen and (max-width: 1023px) {
    .arrow-down {
        display: none;
    }

    .arrow-down_shown {
        display: block;
        right: -3em;
    }

    .filter__items {
        justify-content: flex-start;
        margin-left: 2em;
    }

    .filter__item {
        width: auto;
        padding-left: 0;
    }
}