.back-block {
    max-width: 1180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 3.6em;
}

.link_back-block {
    display: flex;
}

.back-block__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: 0.5em;
}

.item-characters {
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 3.5em auto;
}

.item-photo {

}

.item-photo_main {

}

.item-photo_secondary {
    display: flex;
    position: relative;
}

.item-photo_full {
    width: 590px;
    height: 394px;
    min-width: 500px;
}

.item-photo_thumb {
    margin: 0;
    max-width: 197px;
    max-height: 130px;
    cursor: pointer;
    position: relative;

}

.item-parameters {
    padding-left: 2.8em;
}

.caption {
    text-align: left;
}

.caption_2 {
    font-size: 1.625em;
    letter-spacing: 0;
    margin-top: 1em;
}

.caption_3 {  
    line-height: 1.5;
    margin-top: 1.2em;
    padding-left: 0;
}

.caption_5 {
    font-size: 1.6em;
    margin-top: 2em;
    margin-bottom: 1.7em;
}

.caption_hide {
    display: none;
}

.parameters {
    display: flex;
    flex-direction: column;
}

.parameter {
    display: flex;
    margin-bottom: 1em;
}

.parameter__text {
    width: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
}

.parameter-list {
    display: flex;
    margin-left: 3em;
}

.parameters__input {
    display: none;
}

.parameters__input:checked + .parameters__label {
    border: 0.1em solid #e5e5e5;
}

.parameters__label {
    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    margin-left: 2em;
}

.parameters__label:hover {
    border: 0.1em solid #e5e5e5;
}

.caption-order {
    display: flex;
    flex-direction: column;
}

.parameters__label:last-child {
    margin-right: 0;
}

.parameter_color {
    margin-bottom: 4em;
}

.common-button {
    margin: 0 auto;
}

.main {
    margin-bottom: 6em;
}

.icon_back {
    width: 20px;
    height: 20px;
}

.img-wrapper {
    position: relative;
}

.thumb-hover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .back-block {
        padding-left: 2em;
    }

    .item-characters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-photo {
        display: flex;  
        margin: 0 2em;
    }

    .item-photo_full {
        height: auto;
    }

    .item-photo_thumb {
        height: auto;
    }

    .item-photo_secondary {
        flex-direction: column;
        justify-content: space-between;
    }

    .img {
        width: 100%;
    }

    .item-parameters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parameters {
        align-items: center;
    }

    .caption_3 {
        padding: 0 6em;
        margin-bottom: 2em;
        line-height: 2em;
        text-align: center;
    }

    .caption_5 {
        order: -1;
        margin-top: 1em;
        margin-bottom: 0;
        text-align: center;
    }

    .caption_hide {
        display: inline;
    }

    .icon_back {
        width: 20px;
    }

    .item-photo_main {
        height: auto;
    }

}

@media screen and (max-width: 767px) {
    .item-photo {
        flex-direction: column;
    }

    .item-photo_secondary {
        flex-direction: row;
        align-items: center;
    }

    .item-photo_full {
        height: auto;
        min-width: auto;
    }

    .item-parameters {
        padding: 0;
    }

    .item-characters {
        margin: 1em auto;
        flex-direction: column;
        align-items: center;
    }

    .caption_3 {
        padding: 0 1em;
        font-size: 0.87em;
    }

    .caption_2 {
        text-align: center;
    }

    .parameters {
        align-items: flex-start;
    } 

}