@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

.main {

}

.banners {
    display: flex;
    cursor: pointer;
    max-width: 1300px;
    margin: 0 auto;
}

.banners__left_image {
    border-right: 0.1em solid #e5e5e5;
}

.banners__right_image {

}

.best-offer {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    margin: 5.5em auto;
}


.best-offer-blocks {
    display: flex;
    margin-top: 4em; 
    max-width: 1180px;
}

.best-offer__left {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.best-offer__item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-button {
    border: none;
    background: none;
    outline: none;
    transition: transform .2s, box-shadow .2s;
    cursor: pointer;
}

.switch-button:hover {
    transform: scale(1.1);
}

.switch-button:active {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.switch-button_up {

}

.switch-button_down {
    margin-top: -1em;
}

.best-offer__symbol {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    align-self: center;
    margin-bottom: 2.6em;
}

.best-offer__bag-block {
    padding-top: 9em;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.best-offer__old-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #757575;
    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-start;
    margin-left: 3em;
}

.best-offer__line {
    position: absolute;
    width: 4em;
    border-bottom: 0.05em solid red;
    transform: rotate(-30deg)
}

.best-offer__new-price  {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.1em;
    margin-top: -0.15em;
    align-self: center;
}

.add-button {
    
}

.none {
    display: none;
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
    margin: 6.2em auto;
}

@media screen and (max-width: 1023px) {
    .menu {
        width: 90%;
    }

    .caption_3 {
        padding: 0 3em;
    }

    .best-offer__left {
        padding-left: 2em;
    }

    .best-offer__item-block {
        margin: 0 1em;
    }

    .items-catalog__item:last-child {
        display: none;
    } 
}