@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

.main {

}

.banners {
    display: flex;
    cursor: pointer;
    max-width: 1300px;
    margin: 0 auto;
}

.banners__left_image {
    border-right: 0.1em solid #e5e5e5;
}

.banners__right {
    display: block;
}

.banners__right_image {

}

.best-offer {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    margin: 5.5em auto;
}


.best-offer-blocks {
    display: flex;
    margin-top: 4em; 
    max-width: 1180px;
}

.best-offer-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 550px;
}

.best-offer__item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-button {
    border: none;
    background: none;
    outline: none;
    transition: transform .2s, box-shadow .2s;
    cursor: pointer;
}

.switch-button:hover {
    transform: scale(1.1);
}

.switch-button:active {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.switch-button_up {

}

.switch-button_down {
    margin-top: -1em;
}

.best-offer__symbol {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    align-self: center;
    margin-bottom: 2.6em;
}

.best-offer__bag-block {
    padding-top: 9em;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.best-offer__old-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #757575;
    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-start;
    margin-left: 3em;
}

.best-offer__line {
    position: absolute;
    width: 4em;
    border-bottom: 0.05em solid red;
    transform: rotate(-30deg)
}

.best-offer__new-price  {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.1em;
    margin-top: -0.15em;
    align-self: center;
}

.add-button_tablet {
    margin: 4em auto 0;
    display: none;
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
    margin: 6.2em auto;
}

.best-offer__symbol_mobile {
    display: none;
}

.link_banners:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.link_banners:active {
    box-shadow: 0 0 2px #f14a58;
}

.none-true {
    display: none;
}

@media screen and (max-width: 1023px) {
    .menu {
        width: 90%;
    }

    .caption_3 {
        padding: 0 3em;
    }

    .best-offer-items {
        padding-left: 2em;
    }

    .best-offer__item-block {
        margin: 0 1em;
    }

    .items-catalog__item:last-child {
        display: none;
    } 

    .add-button_tablet {
        display: block;
    }

    .add-button_desktop {
        display: none;
    }

    .link_common-button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .link_banners:last-child {
        display: none;
    }

    .banners__left_image {
        border: none;
    }

    .caption_2 {
        font-size: 2.5em;
    }

    .caption_3 {
        line-height: 2em;
        padding: 0 0.7em;
    }

    .best-offer {
        margin-bottom: 2em;
    }

    .best-offer-blocks {
        display: block;
    }

    .best-offer-items {
        height: 450px;
        width: 100%;
        padding: 0 0.5em;
        margin: 0;
    }

    .best-offer__symbol_desktop {
        display: none;
    }

    .best-offer__symbol {
        font-size: 2em;
    }

    .best-offer__symbol_mobile {
        display: block;
        margin-bottom: 0;
        margin-right: 0.2em;
        color: black;
        font-size: 1em;
    }

    .best-offer__bag-block {
        width: 100%;
        align-items: center;
        padding: 4em;
    }
    
    .best-offer__item-block {
        margin: 0;
    }

    .best-offer__new-price {
        display: flex;
    }

    .best-offer__old-price {
        margin-left: 1em;
        align-self: auto;
    }

    .items-catalog__item:nth-child(3),
    .items-catalog__item:nth-child(4) {
        display: none;
    }

    .items-catalog__item:nth-child(2) {
        margin-left: 1em;
    }

    .items-catalog {
        flex-wrap: nowrap;
        margin-top: 5em;
        padding: 0 1em;
    }

    .oder-and-question_down {
        margin-top: 0;
    }

    .add-button_tablet {
        margin: 0 auto 0;
    }
}